
<div class="form-control mb-3">
<label for="" class="form-label">Ingrese el texto a convertir a Mayúsculas</label>
<input [(ngModel)]="texto" type="text" class="form-control">
<p class="form-control">{{texto | uppercase}}</p>

<input [(ngModel)]="valor" type="number" class="form-control">
    <select [(ngModel)]="moneda" class="form-control">
      <option value="USD">Dólares</option>
      <option value="EUR">Euros</option>
      <option value="GBP">Libras esterlinas</option>
    </select>
    <p class="form-control">{{valor | currency: moneda}}</p>
</div>
<router-outlet></router-outlet>
